.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "focus list_container";
}

.filter {
    grid-area: filter;
}
.list_container {
    padding: 1rem 1rem;
    grid-area: list_container;
    background-color: rgb(179, 179, 179);
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "filter"
    "list";
    grid-template-rows: 200px 1fr;
}

.list {
    overflow-y: scroll;
    list-style-type: none;
}

.listitem {
    padding: 0.75rem 0.25rem;
    border: 1px solid black;
}

.listitem:hover, .copyable:hover {
    text-decoration: underline;
}

.listitem:nth-of-type(even){
    background-color: rgb(230, 230, 230);
}

.copyable {
    color:rgb(43, 145, 46)
}
    
.focus {
    padding: 1rem;
    grid-area: focus;
}

.focusheader {
    text-align: center;
}


@media only screen and (max-width: 600px) {
    .container {
        display: block;
    }
    
    .focus {
        min-height: 40vh;
    }

    .list_container {
        min-height: 60vh;
        height: auto;
        max-height: 100vh;
        grid-template-rows: 100px 1fr;
    }
}