
.filter {
    grid-area: filter;
}

.list {
    overflow-y: scroll;
    list-style-type: none;
}

.listitem {
    padding: 0.75rem 0.25rem;
    border: 1px solid black;
}

.listitem:hover, .copyable:hover {
    text-decoration: underline;
}

.listitem:nth-of-type(even){
    background-color: rgb(230, 230, 230);
}

.copyable {
    color:rgb(43, 145, 46)
}
    
.focus {
    padding: 1rem;
    min-height: 40vh;
    grid-area: focus;
}

.focusheader {
    text-align: center;
}

