
.list {
    overflow-y: scroll;
    list-style-type: none;
    margin: 10px;
}

.listitem {
    padding: 0.75rem 0.25rem;
    border: 1px solid black;
}

.underlineable:hover, .copyable:hover {
    text-decoration: underline;
}

.listitem:nth-of-type(even){
    background-color: rgb(230, 230, 230);
}

    
.focus {
    padding: 1rem;
    min-height: 40vh;
    grid-area: focus;
}

.focusheader {
    text-align: center;
}


.star {
  cursor: pointer;
  color: rgb(103, 92, 10);
  font-size: 25px;
}

.star:hover, .star.starred {
  color: rgb(244, 216, 9);
  text-decoration: none;
}