:root {
  --teal-1: #0b1e33;
  --teal-2: #013c58;
  --teal-3: #00537a;
  --yellow-1: #fec819;
  --yellow-2: #ffe942;
  --off-white: #f2f0e8e9;
}

#__next {
  min-height: 100%;
}
html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--teal-1);
  color: var(--off-white);
  height: -webkit-fill-available;
  letter-spacing: 0.1px;
  font-size: 16px;
  line-height: 1.3;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-shrink: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

select, button, input {
  background-color: var(--off-white);
  padding: 0.2rem;
  min-height: 1.5rem;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

select {
  height: 2rem;
  background-color: var(--yellow-1);
  color: var(--teal-2);
}

button {
  background-color: var(--yellow-1);
  color: var(--teal-2);
}


li {
  list-style-type: none; 
}


/* Components */

.container {
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-areas: 
        "focus filter_list";
}
 
/* Focus  */
.focus {
    min-height: 40vh;
    grid-area: focus;
}

.focus-header {
    display: flex;
    background-color: var(--teal-3);
    padding: 1rem;
    border-radius: 0 0 10px 0;
    margin-right: 1rem;
    margin-bottom: 2rem;
}
.header-left, .header-right{
  flex: 1;
}

.sem-dropdown label {
  /* margin-bottom: 50px; */
}

.course_info {
  margin: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-areas: 
  "top top"
  "left right";
  grid-template-columns: 2fr 3fr;
}

.info_top {
  text-align: center;
  grid-area: top;
}

.info_top .course-title {
  font-size: 22px;
}

.right {
  grid-area: right;
}

.left {
  grid-area: left;
}

.info_desc {
  padding: 0.5rem;
  font-size: 1rem;
}

.left, .right {
  background-color: var(--teal-3);
  border-radius: 10px;
  padding: 1rem;
}

.left > *:nth-child(1) , .right > *:nth-child(1) {
  border-top: 1px var(--off-white) solid;
  border-radius: 4px;
}
.left > * , .right > * {
  border: var(--off-white) 1px solid;
  border-radius: 4px;
  border-top: none;
  padding: 0.5rem;
}


/* Filter */

.filter_list {
  padding: 1rem;
  padding-bottom: 0.5rem;
  grid-area: filter_list;
  background-color: var(--teal-3);
  height: 100vh;
  display: grid;
  grid-template-areas: 
  "filter"
  "list";
  grid-template-rows: min-content min-content 1fr;
}

/* filter area, above list of courses */

.filter {
grid-area: filter;
}

.center-button {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.search-input {
  width: 100%;
  min-height: 32px;
  padding: 7px;
}

/* Multiselect Dropdown */

.search-wrapper.searchWrapper {
  padding: 3px;
  background-color: var(--off-white);
}

.search-wrapper.searchWrapper input {
  min-height: 18px !important;
  margin-top: 0 !important;
}

.optionContainer {
  border-color: var(--teal-2) !important;
  background-color: var(--teal-3);
}

.optionContainer li {
  color: var(--off-white);
  background-color: var(--teal-1);
  border-top: 1px solid var(--teal-3);
  padding: 0 3px 6px 3px !important;
  border-radius: 4px;
}

.chip {
  flex-direction: row-reverse;
  background-color: var(--teal-2) !important;
  margin-bottom: 0px;
}


.icon_cancel {
  margin-left: 0 !important;
  margin-right: 5px !important;
}

.optionListContainer {
  position: relative !important;
}

.multiselect-dropdown-container {
  margin: 1rem 0;
  display: flex;
}

.multiselect-dropdown-container > div:nth-child(1) {
  flex: 7;
}

input[type='checkbox'] { 
  position: relative;
  top: 5px;
  left: 2px;
} 

.dropdown-button {
  position: relative;
  max-height: 40px;
}

.dropdown-arrow {
  position: absolute;
  left: -30px;
  color:rgb(179, 179, 179);
}

/* List of courses */

.courses-list {
  overflow-y: scroll;
  margin: 7px;
  box-shadow: 0px 0px 7px 2px #000000;
  position: relative;
  z-index: 10;
}
  
.course-title {
    font-weight: 600;
    font-style: italic;
}


.course-listitem {
  padding: 0.75rem 0.25rem;
  border-top: 1px solid black;
}

.course-listitem:nth-of-type(even){
  background-color: var(--teal-1);
}

.course-listitem:nth-of-type(odd){
  background-color: var(--teal-3);
}

.underlineable:hover, .copyable:hover {
    text-decoration: underline;
}

.underlineable:hover, .copyable:hover {
  text-decoration: underline;
}

.copyable {
    color: var(--yellow-1)
}


.star {
  cursor: pointer;
  color: rgb(103, 92, 10);
  font-size: 25px;
}

.star:hover, .star.starred {
  color: var(--yellow-1);
  text-decoration: none;
}

/* Collapse component */
.collapse-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.collapse-content.inactive {
  display: none;
}

#semester {
  margin-top: 5px;
}

/* mobile */

@media only screen and (max-width: 900px) {
  .focus-header {
    flex-direction: column-reverse;
    text-align: center;
  }

}
@media only screen and (max-width: 600px) {
    .container {
        display: block;
    }
    
    .filter_list {
        min-height: 60vh;
        height: auto;
        max-height: 100vh;
        grid-template-rows: min-content min-content 1fr;
    }
    .header-right {
      flex: 0
    }
}
