#__next {
  min-height: 100%;
}
html {
  height: 100%;
}

body {
  height: 100%;
  letter-spacing: 0.2px;
  font-size: 16px;
  line-height: 1.4;

  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-shrink: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  height: 1.5rem;
  font-size: 16px;
  width: 90%;
  margin: 1rem 0.3rem;
}

/* Components */

.container {
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-areas: 
        "focus filter_list";
}
 
/* Focus  */
.focus {
    min-height: 40vh;
    grid-area: focus;
}

.focus-header {
    display: flex;
    background-color: rgb(179, 179, 179);
    padding: 1rem;
    border-radius: 0 0 10px 0;
    margin-right: 1rem;
    margin-bottom: 2rem;
}
.header-left, .header-right{
  flex: 1;
}

/* List of courses */

.courses-list {
    overflow-y: scroll;
    list-style-type: none;
    margin: 10px;
    margin-bottom: 0px;
    box-shadow: 0px 0px 10px 2px #000000;
    position: relative;  
    z-index: 10;
    
  }
  
  .course-title {
    font-weight: 600;
    font-style: italic;
}


.course-listitem {
  padding: 0.75rem 0.25rem;
  border-top: 1px solid black;
}



.course-listitem:nth-of-type(even){
  background-color: rgb(230, 230, 230);
}

.underlineable:hover, .copyable:hover {
    text-decoration: underline;
}

.filter_list {
    padding: 1rem 1rem;
    grid-area: filter_list;
    background-color: rgb(179, 179, 179);
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "filter"
    "list";
    grid-template-rows: 100px 1fr;
}

.underlineable:hover, .copyable:hover {
    text-decoration: underline;
}



.filter {
  grid-area: filter;
}

.filter label {
margin: 1rem 0.3rem;
}


.copyable {
    color:rgb(43, 145, 46)
}


.star {
  cursor: pointer;
  color: rgb(103, 92, 10);
  font-size: 25px;
}

.star:hover, .star.starred {
  color: rgb(244, 216, 9);
  text-decoration: none;
}

select {
  height: 1.25rem;
  font-size: 16px;
}


@media only screen and (max-width: 600px) {
    .container {
        display: block;
    }
    
    .filter_list {
        min-height: 60vh;
        height: auto;
        max-height: 80vh;
        grid-template-rows: 100px 1fr;
    }
    .header-right {
      flex: 0
    }
}
