#__next {
  min-height: 100%;
}
html {
  height: 100%;
}

body {
  height: 100%;
  height: -webkit-fill-available;
  letter-spacing: 0.1px;
  font-size: 16px;
  line-height: 1.3;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-shrink: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

select, button, input {
  padding: 0.2rem;
  min-height: 1.5rem;
  font-size: 16px;
}


.search-input {
  width: 100%;
  margin: 0.75rem 0.3rem;
}

select {
  height: 2rem;
}

/* Components */

.container {
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-areas: 
        "focus filter_list";
}
 
/* Focus  */
.focus {
    min-height: 40vh;
    grid-area: focus;
}

.focus-header {
    display: flex;
    background-color: rgb(179, 179, 179);
    padding: 1rem;
    border-radius: 0 0 10px 0;
    margin-right: 1rem;
    margin-bottom: 2rem;
}
.header-left, .header-right{
  flex: 1;
}

/* List of courses */

li {
  list-style-type: none; 
}

.courses-list {
    overflow-y: scroll;
    list-style-type: none;
    margin: 10px;
    margin-bottom: 0px;
    box-shadow: 0px 0px 10px 2px #000000;
    position: relative;  
    z-index: 10;
    
  }
  
  .course-title {
    font-weight: 600;
    font-style: italic;
}


.course-listitem {
  padding: 0.75rem 0.25rem;
  border-top: 1px solid black;
}



.course-listitem:nth-of-type(even){
  background-color: rgb(230, 230, 230);
}

.underlineable:hover, .copyable:hover {
    text-decoration: underline;
}

.filter_list {
    padding: 1rem 1rem;
    grid-area: filter_list;
    background-color: rgb(179, 179, 179);
    height: 100vh;
    height: -webkit-fill-available;
    display: grid;
    grid-template-areas: 
    "filter"
    "list";
    grid-template-rows: min-content 1fr;
}

.underlineable:hover, .copyable:hover {
    text-decoration: underline;
}

/* filter area, above list of courses */

.filter {
  grid-area: filter;
}

.filter label {
margin: 1rem 0.3rem;
}

.center-button {
  width: 100%;
  text-align: center;
}

.copyable {
    color:rgb(43, 145, 46)
}


.star {
  cursor: pointer;
  color: rgb(103, 92, 10);
  font-size: 25px;
}

.star:hover, .star.starred {
  color: rgb(244, 216, 9);
  text-decoration: none;
}

/* Multiselect Dropdown */

.chip {
  flex-direction: row-reverse;
}

.icon_cancel {
  margin-left: 0 !important;
  margin-right: 5px !important;
}

.optionListContainer {
  position: relative !important;
}

.multiselect-dropdown-container {
  margin: 1rem 0;
  display: flex;
}

.multiselect-dropdown-container > div:nth-child(1) {
  flex: 7;
}

input[type='checkbox'] { 
  position: relative;
  top: 5px;
  left: 2px;
} 

.dropdown-button {
  position: relative;
  max-height: 40px;
}

.dropdown-arrow {
  position: absolute;
  left: -30px;
  color:rgb(179, 179, 179);
}

@media only screen and (max-width: 600px) {
    .container {
        display: block;
    }
    
    .filter_list {
        min-height: 60vh;
        height: auto;
        max-height: 80vh;
        grid-template-rows: min-content 1fr;
    }
    .header-right {
      flex: 0
    }
}
