/* adsf */
#__next {
  min-height: 100%;
}
html {
  height: 100%;
}

body {
  height: 100%;
  letter-spacing: 0.3px;
  font-size: clamp(14px, 1rem + 0.5vw, 18px);
  line-height: 1.5;

  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-shrink: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  height: 1.5rem;
  font-size: 18px;
  width: 90%;
  margin: 1rem 0.3rem;
}

/* Components */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "focus filter_list";
}

/* List of courses */

.course-title {
  font-weight: 600;
  font-style: italic;
}


.filter_list {
    padding: 1rem 1rem;
    grid-area: filter_list;
    background-color: rgb(179, 179, 179);
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "filter"
    "list";
    grid-template-rows: 200px 1fr;
}

.underlineable:hover, .copyable:hover {
    text-decoration: underline;
}



.filter {
  grid-area: filter;
}

.filter label {
margin: 1rem 0.3rem;
}

.filter-dropdown {
  height: 1.5rem;
  font-size: 18px;
}


@media only screen and (max-width: 600px) {
    .container {
        display: block;
    }
    
    .filter_list {
        min-height: 60vh;
        height: auto;
        max-height: 80vh;
        grid-template-rows: 100px 1fr;
    }
}
